@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.retro-title {
  color: #22cf22; /* Retrogrön färg */
  font-family: "Press Start 2P", cursive; /* Använd retrotypsnitt */
  font-size: 2.5rem; /* Justera storlek efter behov */
  text-shadow: 0 0 5px #22cf22, /* Inre neonglöd */ 0 0 10px #22cf22,
    /* Yttre neonglöd */ 0 0 15px #22ff22,
    /* Lite ljusare grön för ytterligare glöd */ 4px 4px 0 #000; /* Svart skugga för att ge djup */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* För Chrome, Safari och Edge */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE och Edge */
  scrollbar-width: none; /* Firefox */
}
