@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.retro-title {
  color: #22cf22;
  font-family: "Press Start 2P", cursive;
  font-size: 2.5rem;
  text-shadow: 0 0 2.5px #22cf22, 0 0 5px #22cf22, 0 0 15px #22ff22,
    4px 4px 0 #000;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
