@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.retro-title {
  color: #22cf22; /* Retrogrön färg */
  font-family: "Press Start 2P", cursive; /* Använd retrotypsnitt */
  font-size: 2.5rem; /* Justera storlek efter behov */
  text-shadow: 2px 2px 0 #000, /* Skugga för att ge djup */ 3px 3px 0 #000,
    4px 4px 0 #000;
}
